@import url("//db.onlinewebfonts.com/c/0abeb2471faeb5269db428b9eac2075e?family=GT+Walsheim+Pro+Regular");
* {
    padding: 0px;
    margin: 0px;
    font-family: 'GT Walsheim Pro Regular';
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hero-section {
        position: relative;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../assets/images/heroPic.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 840px;
        .floating-container {
            position: absolute;
            top: 746px;
            background: #FFFFFF;
            box-shadow: 0px 50px 100px rgba(62, 148, 254, 0.15);
            border-radius: 5px;
            width: calc(100vw - 264px);
            height: 140px;
            margin-left: 67px;
            margin-right: 67px;
            padding: 38px 59px 38px 58px;
            .feature-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .feature {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    color: #000000;
                    .img-container {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: rgba(62, 148, 254, 0.2);
                        position: relative;
                        img {
                            position: absolute;
                            display: block;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    span {
                        padding: 20px 0px 30px 0px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        line-height: 29px;
                    }
                    select {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17.1724px;
                        line-height: 20px;
                        color: rgba(18, 23, 30, 0.654531);
                        outline: none;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        background-color: white;
                        border-bottom: 0.858621px solid rgba(18, 23, 30, 0.654531);
                    }
                }
                .search {
                    text-align: center;
                    padding: 20px 60px;
                    background: #3E94FE;
                    border-radius: 10px;
                    cursor: pointer;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    color: #FFFFFF;
                }
            }
        }
    }
    .featured-cities {
        margin-top: 400px;
        margin-left: 69px;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 46px;
        color: #000000;
    }
    .featured-cities-images {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        row-gap: 42px;
        margin: 41px 71px 73px 69px;
        .first-grid-items {
            grid-column: 1/-1;
            .flex-items-desktop {
                display: grid;
                grid-template-columns: auto auto;
                gap: 20px;
                color: #FFFFFF;
                font-style: normal;
                .detail {
                    display: block;
                    span {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 23px;
                    }
                    .city-name {
                        font-weight: 400;
                        font-size: 60px;
                        line-height: 69px;
                        text-align: center;
                    }
                }
            }
            .flex-items-mobile {
                display: none;
            }
        }
        .second-grid-items {
            grid-column: 1/-1;
            .desktop-card-city {
                display: grid;
                grid-template-columns: auto auto auto;
                column-gap: 20px;
                row-gap: 42px;
                .detail {
                    display: block;
                    span {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 23px;
                    }
                    .city-name {
                        font-weight: 400;
                        font-size: 60px;
                        line-height: 69px;
                        text-align: center;
                    }
                }
            }
            .mobile-card-city {
                display: none;
            }
        }
    }
    .featured-place {
        padding-left: 69px;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 46px;
        color: #000000;
    }
    .wrapper {
        .places {
            margin-left: 69px;
            margin-right: 71px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 20px;
            .place-detail {
                margin-top: 34px;
                display: block;
                .img {
                    width: 100%;
                }
                .next {
                    top: -55%;
                    z-index: 9;
                    float: right;
                    margin-right: -30px;
                }
                span {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    color: #000000;
                }
                .description {
                    display: flex;
                    align-items: center;
                    padding-top: 10px;
                    span {
                        padding-left: 5px;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 17px;
                        color: rgba(18, 23, 30, 0.654531);
                    }
                }
                .room-name {
                    margin-top: 17px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-style: normal;
                    .name {
                        margin-right: auto;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 23px;
                        color: #000000;
                    }
                    .room {
                        margin-right: auto;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 17px;
                        color: rgba(18, 23, 30, 0.654531);
                    }
                }
                .price-icon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-style: normal;
                    .per-night {
                        padding-top: 10px;
                        span {
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 17px;
                            color: #000000;
                        }
                        em {
                            color: rgba(18, 23, 30, 0.654531);
                        }
                    }
                    .icons {
                        padding-top: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: rgba(18, 23, 30, 0.654531);
                        img {
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                }
                .next {
                    position: relative;
                }
            }
        }
    }
    .availability {
        margin: 0px 69px 100px 65px;
        padding: 51px 67px 77px 67px;
        background: #3E94FE;
        box-shadow: 0px 30px 60px rgba(62, 148, 254, 0.2);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        color: #FFFFFF;
        .item {
            display: flex;
            flex-direction: column;
            width: 246px;
            img {
                width: 40px;
                padding-bottom: 15px;
            }
            span {
                padding-bottom: 15px;
                font-weight: 400;
                font-size: 30px;
                line-height: 34px;
            }
            p {
                font-weight: 400;
                font-size: 17px;
                line-height: 19px;
            }
        }
    }
    .powered-by {
        text-align: center;
        font-weight: 400;
        font-size: 48px;
        line-height: 55px;
        color: #000000;
    }
    .wrap {
        .partners {
            display: flex;
            margin: 17px 71px 130px 69px;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}

@media screen and (max-width: 700px) {
    .homepage {
        width: 100vw;
        .hero-section {
            background-size: cover;
            width: inherit;
            height: 930px;
            .floating-container {
                top: 850px;
                width: calc(100% - 77px);
                height: fit-content;
                margin: 0 24px 96px 23px;
                padding: 53px 0px 52px 30px;
                .feature-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    align-items: flex-start;
                    .feature {
                        padding-bottom: 50px;
                        select {
                            width: 250px;
                        }
                    }
                    .search {
                        display: none;
                    }
                }
            }
            .featured-cities {
                font-size: 35px;
                line-height: 40px;
                margin-top: 750px;
                margin-left: 23px;
            }
            .featured-cities-images {
                width: calc(100% - 46px);
                overflow: hidden;
                margin: 15px 23px 67px 23px;
                row-gap: 7px;
                .first-grid-items {
                    grid-column: 1/-1;
                    .flex-items-desktop {
                        display: grid;
                        grid-template-columns: calc(50% - 23px) calc(50% - 30px);
                        gap: 7px;
                        color: #FFFFFF;
                        font-style: normal;
                        width: 100vw;
                        .detail {
                            display: block;
                            span {
                                font-weight: 400;
                                font-size: 8px;
                                line-height: 9px;
                            }
                            .city-name {
                                font-weight: 400;
                                font-size: 23px;
                                line-height: 26px;
                                text-align: center;
                            }
                        }
                    }
                }
                .second-grid-items {
                    grid-column: 1/-1;
                    .desktop-card-city {
                        display: grid;
                        grid-template-columns: calc(33.333% - 20px) calc(33.333% - 20px) calc(33.333% - 20px);
                        column-gap: 7px;
                        .detail {
                            display: block;
                            span {
                                font-weight: 400;
                                font-size: 8px;
                                line-height: 9px;
                            }
                            .city-name {
                                font-weight: 400;
                                font-size: 23px;
                                line-height: 26px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .featured-place {
                padding-left: 23px;
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 40px;
                color: #000000;
            }
             ::-webkit-scrollbar {
                display: none;
            }
            .wrapper {
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                scrollbar-width: none;
                -ms-overflow-style: none;
                .places {
                    margin-left: 23px;
                    margin-bottom: 80px;
                    .place-detail {
                        display: inline-block;
                        .img {
                            width: 180px;
                            height: 150px;
                        }
                        span {
                            font-weight: 400;
                            font-size: 11.8975px;
                            line-height: 14px;
                            color: #000000;
                        }
                        .next {
                            display: none;
                        }
                    }
                }
            }
            .availability {
                margin: 0px 0px 100px 0px;
                padding: 51px 70px 0px 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .item {
                    justify-content: center;
                    align-items: center;
                    width: inherit;
                    margin-bottom: 100px;
                    span {
                        text-align: center;
                    }
                    p {
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 19px;
                        text-align: center;
                        overflow-wrap: break-word;
                    }
                }
            }
            .powered-by {
                text-align: center;
                font-weight: 400;
                font-size: 40px;
                line-height: 46px;
                color: #000000;
            }
            .wrap {
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                .partners {
                    margin: 78px 0px 130px 51px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    img {
                        display: block;
                        margin: auto;
                        padding-right: 63px;
                    }
                }
            }
        }
    }
}