@import url("//db.onlinewebfonts.com/c/0abeb2471faeb5269db428b9eac2075e?family=GT+Walsheim+Pro+Regular");
.header {
    padding: 117px 71px 0px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'GT Walsheim Pro Regular';
    .hero-texts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hero-text {
            font-style: normal;
            font-weight: 400;
            font-size: 80px;
            line-height: 92px;
            text-align: center;
            color: #FFFFFF;
            span {
                color: #3E94FE;
            }
        }
    }
    .circle {
        width: 92px;
        height: 92px;
        border-radius: 50%;
        background-color: none;
        border: 1px solid #FFFFFF;
        margin-top: 36px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0px 38px 0px 38px;
        .hero-texts {
            img {
                display: none;
            }
            .hero-text {
                font-size: 55px;
                line-height: 80px;
            }
        }
    }
}