@import url("//db.onlinewebfonts.com/c/0abeb2471faeb5269db428b9eac2075e?family=GT+Walsheim+Pro+Regular");
.navbar {
    font-family: 'GT Walsheim Pro Regular';
    .mobile-view {
        display: none;
    }
    .desktop-view {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 41px 70px 0px 70px;
        .bangolo {
            margin-right: auto;
            margin-left: 24px;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 27px;
        }
        div {
            margin-left: 58px;
            cursor: pointer;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 27px;
        }
        div:hover {
            color: #3E94FE;
            background: #FFFFFF;
            border-radius: 10px;
            text-align: center;
            padding: 14px 24px;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        .desktop-view {
            display: none;
        }
        .mobile-view {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 58px 30px 42px 26px;
            .nav {
                padding-right: 12px;
                display: block;
                outline: none;
                border: none;
                background: none;
                cursor: pointer;
            }
            span {
                margin-left: 12px;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
            }
            .button {
                margin-left: auto;
                outline: none;
                font-weight: 400;
                font-size: 18.3429px;
                line-height: 21px;
                color: #3E94FE;
                background-color: #FFFFFF;
                border-radius: 8px;
                border: none;
                padding: 12px 26px;
            }
            .expanded {
                display: none;
            }
            .navigation-menu {
                position: absolute;
                top: 0px;
                left: 0px;
                flex-direction: row;
                width: calc(100% - 50px);
                height: 100vh;
                background-color: #FFFFFF;
                display: flex;
                padding-top: 30px;
                div {
                    padding-left: 40px;
                    padding-right: 40px;
                    cursor: pointer;
                }
                ul {
                    padding-top: 40px;
                }
                li {
                    text-align: center;
                    list-style: none;
                    text-decoration: none;
                    cursor: pointer;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: #3E94FE;
                    padding-bottom: 10px;
                    a {
                        text-decoration: none;
                        color: #3E94FE;
                    }
                }
                li:hover {
                    color: #3E94FE;
                    font-size: 24px;
                }
            }
        }
    }
}