.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 41px 70px 0px 70px;
    .bangolo {
        margin-right: auto;
        margin-left: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 27px;
    }
    div {
        margin-left: 58px;
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 27px;
    }
    div:hover {
        color: #3E94FE;
        background: #FFFFFF;
        border-radius: 10px;
        text-align: center;
        padding: 14px 24px;
    }
}